/*
 * Sass/SCSS styling by
 * Marius Stuparu - www.mariusstuparu.com
 */

// Import Open Sans
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext');

// Import normalize and mixins
@import '_normalize.scss'; // HTML5Boilerplate normalize, with some edits
@import '_mixins.scss'; // Reusable mixin library

// Variables
$helvetica:     Helvetica, Arial, sans-serif;
$open_sans:     'Open Sans', Helvetica, Arial, sans-serif;

$dark_red:      #4a0305;
$light_red:     #c62828;

// Generic Styles
body {
  color:#131313;
  font: {
    family: $helvetica;
    size: 14px;
  }
  position:relative;
}

.content {
  @media screen and (min-width:1024px) {
    width:1000px;
  }
  
  @media screen and (max-width:1023px) {
    width:100%;
  }
  
  margin:0 auto;
}

header {
  height:450px;
  background:url('../img/bg-header.jpg') no-repeat center top;
  background-size:cover;
  
  #logo {
    float:left;
    margin:53px 10px 0;
    
    a {
      background:url('../img/facilitec-logo.png');
      display:block;
      width:140px;
      height:29px;
      
      text: {
        decoration:none;
        indent:-9999px;
      }
    }
  } // #logo
  
  #social {
    float:right;
    margin:43px 0 0;
    
    $width:   54px;
    $height:  54px;
    
    a {
      display:inline-block;
      width:$width;
      height:$height;
      text: {
        indent:-9999px;
        decoration:none;
      }
      background-image:url('../img/social-icons.png');
      
      &.facebook          { background-position:0 0 }
      &.facebook:hover    { background-position:0 -54px }
      
      &.linkedin          { background-position:-$width 0 }
      &.linkedin:hover    { background-position:-$width -54px }
      
      &.pinterest         { background-position:-($width * 2) 0 }
      &.pinterest:hover   { background-position:-($width * 2) -54px }
    }
  } // #social
  
  #heading {
    margin:100px 0 0;
    
    h2 {
      font: {
        family:$open_sans;
        weight:300;
        size:38px;
      }
      color:#fff;
      width:710px;
      float:left;
      margin:0;
      
      a {
        color:#fff;
        text-decoration:none;
        border-bottom:2px solid #fff;
      }
    }
    
    .contact {
      float:right;
      width:275px;
      height:89px;
      margin:15px 0 0;
      @include border-radius(3px);
      background:rgba(0, 0, 0, 0.4);
      
      a {
        display:block;
        width:221px;
        height:45px;
        margin:22px 27px;
        color:#fff;
        font: {
          family:$open_sans;
          weight:400;
          size:19px;
        }
        line-height: 48px;
        text: {
          transform:uppercase;
          decoration:none;
        }
        background:url('../img/spritesheet.png') 0 0 no-repeat;
        
        &:hover {
          text-decoration:underline;  
        }
      }
    } // .contact
  } // #heading
} // header

// Navigation
#nav {
  height:64px;
  width:100%;
  border-bottom:3px solid $light_red;
  float:left;
  position:relative;
  top:-67px;
  margin-bottom:-67px;
  background:$dark_red;
  z-index:999;
  
  &.sticky {
    position:fixed;
    top:0;
    left:0;
  }
  
  #f_icon_small {
    display:block;
    float:left;
    width:27px;
    height:52px;
    margin-top:14px;
    background:url('../img/spritesheet.png') 0 -45px no-repeat;
  }
  
  nav {
    ul {
      margin:0;
      padding:0;
      
      li {
        float:left;
        
        a {
          font: {
            family:$open_sans;
            size:15px;
            weight:600;
          }
          text: {
            transform:uppercase;
            decoration:none;
          }
          color:#fff;
          height:64px;
          display:block;
          margin-left:50px;
          line-height:65px;
        }
        
        &.current-menu-item a,
        & a:hover {
          background:url('../img/current-menu-item.jpg') bottom center no-repeat; 
        }
      }
    }
  } // nav
} // #nav

// Footer
footer {
  background:#262626;
  height:82px;
  
  ul {
    margin:0 0 0 10px;
    padding:35px 0 0;
    list-style:none;
    
    *zoom: 1;
    
    &:before,
    &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }
    
    &:after {
      clear: both;
    }
    
    li {
      float:left;
      display:block;
      width:17%;
      margin-right:3%;
      height:15px;
      
      a {
        font: {
          family:$open_sans;
          weight:600;
          size:15px;
        }
        color:#878585;
        text: {
          transform:uppercase;
          decoration:none;
          align:center;
        }
        display:block;
      }
    }
  }
}

// Home styles
.home {
  .slider-wrapper {
    position:relative;
    margin-top: -1px;
    height:500px;
    overflow:hidden;
    
    #slider.nivoSlider {
      .nivo-caption {
        @media screen and (min-width:1024px) {
          width:1000px;
          left:50%;
          margin-left:-500px;
        }
        
        @media screen and (max-width:1023px) {
          width:100%;
        }
        
        top:15px;
        height:100px;
      }
    } // #slider.nivoSlider
    
    .nivo-controlNav {
      z-index: 999;
      position: absolute;
      left: 50%;
      bottom: 0;
      padding:0;
    }
    
    .nivo-caption {
      @include border-radius(3px);
            
      h3, p {
        font-family:$open_sans;
      }
      
      h3 {
        float:left;
        width:35%;
        
        span {
          display:block;
          
          &.name {
            font: {
              weight:600;
              size:28px;
            }
          }
          
          &.location {
            color:#b0b0b0;
            font: {
              weight:400;
              size:16px;
            }
          }
        }
      }
      
      .price {
        float:left;
        margin-top:20px;
        padding:10px;
        background:rgba(114, 4, 7, 0.75);
        font: {
          weight:400;
          size:26px;
        }
        text-transform:uppercase;
        @include border-radius(3px);
      }
      
      .link {
        float:right;
        text-transform:uppercase;
        font-size:18px;
        margin-top:27px;
        
        a {
          text-decoration:none;
          border:none;
          
          .arrow {
            display:inline-block;
            width:28px;
            height:16px;
            margin-left:15px;
            background:url('../img/spritesheet.png') 0 -97px no-repeat;
          }
        }
      }
    } // .nivo-caption
  }
  
  #sections {
    background:url('../img/bg-home-sections.jpg') no-repeat;
    background-size:cover;
    height:300px;
    padding:25px 0;
    
    article {
      h1 {
        margin:0 0 15px;
        color:$light_red;
        font: {
          family:$open_sans;
          weight:300;
          size:40px;
        }
      }
      
      section {
        @media screen and (min-width:600px) {
          width:31%;
          margin-right:2%;
          
          &:last-child { margin-right:0 }
        }
        
        @media screen and (max-width:599px) {
          width:100%;
          margin-bottom:20px;
        }
        
        float:left;
        height:192px;
        background:rgba(136, 0, 0, 0.90);
        @include border-radius(3px);
        
        a {
          font: {
            family:$open_sans;
            weight:300;
            size:28px;
          }
          text: {
            align:center;
            decoration:none;
          }
          display:block;
          width:100%;
          height:157px;
          padding-top:35px;
          color:#fff;
          
          .icon {
            display:block;
            width:62px;
            height:55px;
            margin:0 auto;
            margin-bottom:30px;
            background: {
              image:url('../img/spritesheet.png');
              repeat:no-repeat;
            }
            
            &.icon_services {
              background-position:0 -113px;
            }
            
            &.icon_apartments {
              background-position:-62px -113px;
            }
            
            &.icon_office {
              background-position:-124px -113px;
            }
          }
          
          .description {
            display:block;
          }
        }
      }
    } // article
  }
} // .home

.page {
  h1, h2, h3 {
    font: {
      family:$open_sans;
      weight:300;
    }
    color:$light_red;
  }
  
  h1 {
    font-size:50px;
    margin:0 0 15px;
  }
  
  h2 {
    font-size:28px;
    margin:0 0 10px;
  }
  
  .heading {
    padding-top:(60px + 67px);
  }
  
  .separator {
    display:block;
    width:100%;
    height:14px;
    margin:-14px 0 30px;
    background:url('../img/separator.png') center center no-repeat;
    background-size:100%;
  }
  
  .column {
    @extend .clearfix;
    float:left;
    width:45%;
    margin-right:5%;
    margin-bottom:20px;
  }
  
  &.team {
    .heading {
      height:(298px - 67px);
      margin-top:-67px;
      margin-bottom:-40px;
      background:url('../img/pages/heading-team.jpg') center right no-repeat;
      
      h1, p {
        width:500px;
      }
    }
    
    .badge {
      float:left;
      width:290px;
      height:250px;
      overflow:hidden;
      margin-right:20px;
      
      .image {
        float:left;
        margin-right:10px;
        
        p {
          width:150px;
          height:150px;
          display:block;
          overflow:hidden;
          
          img {
            width:100%;
            background:#ccc;
          }
        }
        
        .social {
          a {
            float:left;
            display:block;
            width:42px;
            height:42px;
            margin-right:5px;
            text-indent:-9999px;
            background: {
              image:url('../img/social-icons.png');
              repeat:no-repeat;
            }
            
            &.facebook {
              background-position:0 -108px;
            }
            
            &.linkedin {
              background-position:-43px -108px;
            }
            
            &.twitter {
              background-position:-86px -108px;
            }
          }
        }
      }
    }
  }
  
  &.page-id-2 {
    article {
      position:relative;
      margin-top:65px;
      
      #map_canvas {
        width:100%;
        height:450px;
      }
      
      section {
        position:absolute;
        width:50%;
        right:0;
        top:0;
        background:rgba(0, 0, 0, 0.75);
        color:#fff;
        padding:20px;
        
        h1, h2, h3, h4, h5 { 
          @include text-shadow(0, 1px, 1px, rgba(255, 255, 255, 0.5));
        }
      }
    }
  } // .page-id-2
  
  #services_menu {
    position:relative;
    
    ul {
      margin:0 0 100px;
      padding:0;
      list-style:none;
      border-bottom:2px solid $light_red;
      @extend .clearfix;
      
      li {
        float:left;
        width:(100% / 6);
        
        a {
          display:block;
          width:100%;
          height:50px;
          color:#000;
          text: {
            decoration:none;
            transform: uppercase;
            align:center;
          }
          
          &:hover {
            background:url('../img/current-menu-item-white.jpg') bottom center no-repeat;
          }
        }
        
        ul { // secondary menu
          display:none;
          position:absolute;
          width:100%;
          left:0;
          top:45px;
          border-bottom:none;
          
          li {
            float:left;
            padding-top: 25px;
            margin-top: 7px;
            
            &:hover {
              background:url('../img/current-menu-item-white-top.jpg') top center no-repeat;
            }
            
            a,  a:hover { background:none !important }
          }
        }
        
        &.current-menu-item a { background:url('../img/current-menu-item-white.jpg') bottom center no-repeat; }
        
        &:hover {
          ul {
            display:block;
          }
        }
      } // li
    }
  } //  #services_menu
} // .page

.single {
  .main_pic {
    @media screen and (min-width:1024px) {
      width:1000px;
    }
    
    @media screen and (max-width:1023px) {
      width:100%;
    }
    
    height:750px;
    overflow:hidden;
    
    img {
      height:100%;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font: {
      family:$open_sans;
      weight:300;
    }
    color:$light_red;
  }
  
  h1 {
    font-size:50px;
    margin:0 0 15px;
  }
  
  h2 {
    font-size:28px;
    margin:0 0 10px;
  }
  
  .separator {
    display:block;
    width:100%;
    height:14px;
    margin:-14px 0 30px;
    background:url('../img/separator.png') center center no-repeat;
    background-size:100%;
  }
  
  section.numbers {
    height:150px;
    
    h1, p {
      float:left;
    }
    
    h1 {
      width:370px;
      font-size:30px;
      line-height: 20px;
      margin-top: 20px;
      
      small {
        font-size:16px;
        color:#b9b8b8;
      }
    }
    
    .figures {
      color:#000;
      margin-top:20px;
      font: {
        style:italic;
        weight:600;
        size:11px;
      }
      
      span {
        margin-right:30px;
        float:left;
        
        i.icon {
          display:block;
          width:31px;
          height:26px;
          margin:0 auto;
          background: {
            image: url('../img/spritesheet.png');
            repeat:no-repeat;
          }
          
          &.surface {
            background-position:0 -168px;
          }
          
          &.beds {
            background-position:-62px -168px;
          }
          
          &.baths {
            background-position:-93px -168px;
          }
          
          &.garage {
            background-position:-31px -168px;
          }
        }
      }
    } // .figures
    
    .price {
      float:right;
      color:#fff;
      padding:7px;
      background:rgba(114, 4, 7, 0.75);
      font: {
        weight:400;
        size:22px;
      }
      text-transform:uppercase;
      @include border-radius(3px);
    } // .price
  } // .numbers
  
  .details {
    h3 {
      font-size:25px;
      margin:0 0 10px;
    }
    
    .description {
      float:left;
      width:50%;
      margin:0 0 10px;
    }
    
    .features {
      float:right;
      width:33%;
      
      ul {
        margin:0 0 10px;
        padding:0;
        list-style:square;
      }
    }
  } // .details
  
  .gallery {
    margin-bottom:20px;
  }
  
  #map_canvas {
    width:100%;
    height:500px;
  }
} // .single

.category {
  article {
    margin-bottom:50px;
    
    section.numbers {
      h1 {
        float:left;
        width:370px;
        font-size:30px;
        line-height: 20px;
        margin-top: 20px;
        
        small {
          font-size:16px;
          color:#b9b8b8;
        }
        
        a {
          color:$light_red;
          text-decoration:none;
          font-weight:300;
        }
      }
      
      .figures {
        float:right;
        color:#000;
        margin-top:20px;
        font: {
          style:italic;
          weight:600;
          size:11px;
        }
        
        span {
          margin-right:30px;
          float:left;
          
          i.icon {
            display:block;
            width:31px;
            height:26px;
            margin:0 auto;
            background: {
              image: url('../img/spritesheet.png');
              repeat:no-repeat;
            }
            
            &.surface {
              background-position:0 -168px;
            }
            
            &.beds {
              background-position:-62px -168px;
            }
            
            &.baths {
              background-position:-93px -168px;
            }
            
            &.garage {
              background-position:-31px -168px;
            }
          }
        }
      } // .figures
    } // .numbers
    
    .details {
      .image {
        position:relative;
        width:100%;
        height:300px;
        overflow:hidden;
        
        img {
          width:100%;
          vertical-align:middle;
        }
        
        .price {
          position:absolute;
          bottom:30px;
          height:70px;
          left:0;
          right:0;
          background:rgba(0, 0, 0, 0.75);
          
          .the_price {
            float:left;
            height:30px;
            padding:20px;
            margin:0;
            color:#fff;
            background:rgba(114, 4, 7, 0.75);
            font: {
              weight:400;
              size:26px;
            }
            text-transform:uppercase;
          }
          
          .link {
            float:right;
            text-transform:uppercase;
            font-size:18px;
            margin-top:27px;
            
            a {
              text-decoration:none;
              border:none;
              color:#fff;
              
              .arrow {
                display:inline-block;
                width:28px;
                height:16px;
                margin-left:15px;
                background:url('../img/spritesheet.png') 0 -97px no-repeat;
              }
            }
          }
        }
      } // .image
    } // .details
  }
}
